﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Ticket>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select name="filter" class="form-select" asp-items="@(new SelectList (ViewBag.Statuses, "StatusID", "StatusName", ViewBag.Filters.StatusID))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">
                Clear
            </a>
        </form>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Sprint Number</th>
                    <th>Point Value</th>
                    <th>Status</th>
                    <th>Mark In Progress</th>
                    <th>Mark QA</th>
                    <th>Mark Done</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket task in Model)
                {
                    <tr>
                        <td>@task.Name</td>
                        <td>@task.Description</td>
                        <td>@task.SprintNumber</td>
                        <td>@task.PointValue</td>
                        <td>@task.Status.StatusName</td>
                        <td>
                            <form asp-action="MarkInProgress" method="post" asp-route-id="@ViewBag.Filters.Filterstring">
                                <input type="hidden" name="TicketID" value="@task.TicketID" />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Mark In Progress
                                </button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="MarkQA" method="post" asp-route-id="@ViewBag.Filters.Filterstring">
                                <input type="hidden" name="TicketID" value="@task.TicketID" />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Mark Quality Assurance
                                </button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="MarkDone" method="post" asp-route-id="@ViewBag.Filters.Filterstring">
                                <input type="hidden" name="TicketID" value="@task.TicketID" />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Mark Done
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form asp-action="DeleteDone" method="post" asp-route-id="@ViewBag.Filters.Filterstring">
            <a asp-action="Add" class="btn btn-primary"> Add new ticket</a>
            <button type="submit" class="btn btn-primary">Delete completed tickets</button>
        </form>
    </div>
</div>